In [1]:
import pandas as pd
import numpy as np
import locale
import ast
import datetime
from openpyxl import Workbook,load_workbook,utils
from openpyxl.utils.dataframe import dataframe_to_rows
from openpyxl.utils import get_column_letter
import numpy as np
from openpyxl.styles import PatternFill, Border, Side
from openpyxl.formatting.rule import FormulaRule

locale.setlocale(locale.LC_ALL, 'en_US.UTF-8')
red_fill = PatternFill(start_color='FFFF0000', end_color='FFFF0000', fill_type='solid')
green_fill = PatternFill(start_color='FF00FF00', end_color='FF00FF00', fill_type='solid')
yellow_fill = PatternFill(start_color="FFFF00", end_color="FFFF00", fill_type="solid")

In [2]:
Months = {"Jan":1,
         "Feb":2,
         "Mar":3,
         "Apr":4,
         "May":5,
         "Jun":6,
         "Jul":7,
         "Aug":8,
         "Sep":9,
         "Oct":10,
         "Nov":11,
         "Dec":12}

In [3]:
def unwrap(val):
    # peel back multiple string nestings until it's a real object
    while isinstance(val, str):
        try:
            val = ast.literal_eval(val)
        except Exception:
            break
    return val

In [4]:
#Master Spreadsheet
master = pd.read_csv("25KChallenge.csv",converters={'Trade Exit': unwrap})

In [5]:
#Rename Master spreadsheet's column names
Col_Names = [i for i in master.iloc[0,:]]
master.columns = Col_Names
master['Index'] = master.index+1
master

,Trade #,Ticker,Trade Enter,Trade Exit,Exp Date,Strike,C/P,Initial Contracts,# of Contracts,Average Cost/Option,$ Average Cost,Market Value,% Gain,$ Gain,Open/Closed,Notes,Index
0,Trade #,Ticker,Trade Enter,Trade Exit,Exp Date,Strike,C/P,Initial Contracts,# of Contracts,Average Cost/Option,$ Average Cost,Market Value,% Gain,$ Gain,Open/Closed,Notes,1
1,1,AMZN,16-May,3-Jun,16-Jan,195,C,1,1,"$2,892.50","$2,892.50","$2,970.00",2.68%,$77.50,Closed,NaN,2
2,2,ANF,16-May,28-May,16-Jan,70,C,1,1,"$2,140.00","$2,140.00","$4,000.00",86.92%,"$1,860.00",Closed,NaN,3
3,3,META,16-May,19-May,15-Aug,640,C,1,1,"$4,250.00","$4,250.00","$4,900.00",15.29%,$650.00,Closed,NaN,4
4,4,QQQ,16-May,19-May,21-May,522,P,2,2,$495.00,$990.00,"$1,280.00",29.29%,$290.00,Closed,NaN,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
287,286,META,13-Aug,14-Aug,29-Aug,770,P,1,1,"$1,070.00","$1,070.00",$925.00,-13.55%,($145.00),closed,NaN,288
288,287,IWM,13-Aug,14-Aug,17-Oct,228,C,3,3,"$1,031.00","$3,093.00","$2,505.00",-19.01%,($588.00),closed,NaN,289
289,288,IWM,13-Aug,14-Aug,29-Aug,231,P,2,2,$372.00,$744.00,"$1,090.00",46.51%,$346.00,closed,NaN,290
290,289,QQQ,13-Aug,14-Aug,19-Sep,585,P,2,2,"$1,215.00","$2,430.00","$2,430.00",0.00%,$0.00,closed,NaN,291
291,206,META,31-Jul,14-Aug,16-Jan,850,C,1,1,"$3,708.89","$3,708.89","$4,120.00",11.08%,$411.11,closed,"Added 1 on 8/1 @ 31.25, sold 1 on 8/7 @ 37.25,...",292

In [6]:
#All trade entrance dates, Tickers, and C/Ps in Master spreadsheet
Dates = master.loc[1:,['Index','Ticker','Trade Enter', 'Strike','C/P','Exp Date', "# of Contracts", 'Trade Exit', '$ Gain']]
Dates['Strike'] = [locale.currency(float(price)) for price in Dates['Strike']]
Dates

,Index,Ticker,Trade Enter,Strike,C/P,Exp Date,# of Contracts,Trade Exit,$ Gain
1,2,AMZN,16-May,$195.00,C,16-Jan,1,3-Jun,$77.50
2,3,ANF,16-May,$70.00,C,16-Jan,1,28-May,"$1,860.00"
3,4,META,16-May,$640.00,C,15-Aug,1,19-May,$650.00
4,5,QQQ,16-May,$522.00,P,21-May,2,19-May,$290.00
5,6,MSFT,16-May,$500.00,C,16-Jan,1,26-Jun,"$1,289.00"
...,...,...,...,...,...,...,...,...,...
287,288,META,13-Aug,$770.00,P,29-Aug,1,14-Aug,($145.00)
288,289,IWM,13-Aug,$228.00,C,17-Oct,3,14-Aug,($588.00)
289,290,IWM,13-Aug,$231.00,P,29-Aug,2,14-Aug,$346.00
290,291,QQQ,13-Aug,$585.00,P,19-Sep,2,14-Aug,$0.00
291,292,META,31-Jul,$850.00,C,16-Jan,1,14-Aug,$411.11

In [7]:
def clean_trade_exit(val):
    if pd.isna(val) or val == 'nan' or val == 'NaN':
        return 'NaN'
    try:
        # If it's a string representation of a list or nested structure
        if isinstance(val, str) and ('[' in val or '{' in val):
            val = unwrap(val)
        
        # If it's a list, take the first element
        if isinstance(val, (list, tuple)):
            val = val[0]
            
        return str(val)
    except Exception:
        return 'NaN'

# Clean the Trade Exit column
Dates['Trade Exit'] = Dates['Trade Exit'].apply(clean_trade_exit)
# print("Sample of cleaned Trade Exit dates:")
# print(Dates['Trade Exit'].head())

In [8]:
# Process Trade Enter dates
TRADE_ENTRANCE_DATES = [datetime.date(year=2025,month=Months[y[1]], day=int(y[0])) for date in list(Dates.loc[:,'Trade Enter']) if (y:=str(date).split('-'))]

# Process Trade Exit dates with better handling
TRADE_EXIT_DATES = []
for date in Dates['Trade Exit']:
    if date == 'NaN':
        TRADE_EXIT_DATES.append('NaN')
    else:
        parts = str(date).split('-')
        if len(parts) > 1:  # Only append if we have a valid date format
            TRADE_EXIT_DATES.append(parts)
        else:
            TRADE_EXIT_DATES.append('NaN')

# Update the dataframe
Dates['Trade Enter'] = TRADE_ENTRANCE_DATES
Dates['Trade Exit'] = [datetime.date(year=2025,month=Months[date[1]], day=int(date[0])).strftime("%b %d, %Y") if isinstance(date,list) else 'NaN' for date in TRADE_EXIT_DATES]
Dates

,Index,Ticker,Trade Enter,Strike,C/P,Exp Date,# of Contracts,Trade Exit,$ Gain
1,2,AMZN,2025-05-16,$195.00,C,16-Jan,1,"Jun 03, 2025",$77.50
2,3,ANF,2025-05-16,$70.00,C,16-Jan,1,"May 28, 2025","$1,860.00"
3,4,META,2025-05-16,$640.00,C,15-Aug,1,"May 19, 2025",$650.00
4,5,QQQ,2025-05-16,$522.00,P,21-May,2,"May 19, 2025",$290.00
5,6,MSFT,2025-05-16,$500.00,C,16-Jan,1,"Jun 26, 2025","$1,289.00"
...,...,...,...,...,...,...,...,...,...
287,288,META,2025-08-13,$770.00,P,29-Aug,1,"Aug 14, 2025",($145.00)
288,289,IWM,2025-08-13,$228.00,C,17-Oct,3,"Aug 14, 2025",($588.00)
289,290,IWM,2025-08-13,$231.00,P,29-Aug,2,"Aug 14, 2025",$346.00
290,291,QQQ,2025-08-13,$585.00,P,19-Sep,2,"Aug 14, 2025",$0.00
291,292,META,2025-07-31,$850.00,C,16-Jan,1,"Aug 14, 2025",$411.11

In [9]:
type(list(Dates.loc[:,'Trade Enter'])[0])

datetime.date

In [10]:
TRADE_EXP_DATE = [datetime.date(year=2025, month=Months[y[1]], day=int(y[0])).strftime("%b %d, %Y") if (Months[y[1]]> Months[trade_enter.strftime('%b')] or (Months[y[1]] == Months[trade_enter.strftime('%b')] and int(y[0]) > int(trade_enter.strftime("%d")))) else datetime.date(year=2026, month=Months[y[1]], day=int(y[0])).strftime("%b %d, %Y") for exp_date,trade_enter in zip(list(Dates.loc[:,'Exp Date']), list(Dates.loc[:,'Trade Enter'])) if (y:=str(exp_date).split('-'))]
Dates['Exp Date'] = TRADE_EXP_DATE
Dates['Trade Enter'] = [date.strftime("%b %d, %Y") for date in Dates['Trade Enter']]
Dates

,Index,Ticker,Trade Enter,Strike,C/P,Exp Date,# of Contracts,Trade Exit,$ Gain
1,2,AMZN,"May 16, 2025",$195.00,C,"Jan 16, 2026",1,"Jun 03, 2025",$77.50
2,3,ANF,"May 16, 2025",$70.00,C,"Jan 16, 2026",1,"May 28, 2025","$1,860.00"
3,4,META,"May 16, 2025",$640.00,C,"Aug 15, 2025",1,"May 19, 2025",$650.00
4,5,QQQ,"May 16, 2025",$522.00,P,"May 21, 2025",2,"May 19, 2025",$290.00
5,6,MSFT,"May 16, 2025",$500.00,C,"Jan 16, 2026",1,"Jun 26, 2025","$1,289.00"
...,...,...,...,...,...,...,...,...,...
287,288,META,"Aug 13, 2025",$770.00,P,"Aug 29, 2025",1,"Aug 14, 2025",($145.00)
288,289,IWM,"Aug 13, 2025",$228.00,C,"Oct 17, 2025",3,"Aug 14, 2025",($588.00)
289,290,IWM,"Aug 13, 2025",$231.00,P,"Aug 29, 2025",2,"Aug 14, 2025",$346.00
290,291,QQQ,"Aug 13, 2025",$585.00,P,"Sep 19, 2025",2,"Aug 14, 2025",$0.00
291,292,META,"Jul 31, 2025",$850.00,C,"Jan 16, 2026",1,"Aug 14, 2025",$411.11

In [11]:
#Tradier_Activities Spreadsheet
#Deleting rows whose amount is 0, or whose absolute value is greater than 50
Active = pd.read_csv("Tradier_activities_2025-05-11_2025-08-14.csv")
Active['Index'] = Active.index+1
Active = Active[Active['Amount']!= 0]
#Active = Active[abs(Active['Amount'])<=50]
Active;

In [12]:
#Extracting ticker names from symbols in Tradier_activities
Symbols = [str(k) for k in list(Active.loc[:,'Symbol'])]
for i in range(len(Symbols)):
    Symbol = Symbols[i]
    for l in range(len(Symbol)):
        if(Symbol[l].isdigit()):
            Symbols[i] = Symbol[0:l].strip()
            break

In [13]:
Descriptions = [str(k).split() for k in list(Active.loc[:,'Description'])]
tickers = [row[0] for row in Descriptions]
Strike_prices = [''.join(desc[4:5]) for desc in Descriptions]
Exp_Date = [' '.join(row[1:4]) for row in Descriptions]

In [14]:
#Types
Types = Active.loc[:,['Symbol','Date','Quantity','Index','Amount']]
Types

                   Symbol          Date  Quantity  Index   Amount
0     GOOG260116C00180000  Aug 13, 2025        -1      1  3269.88
1      QQQ250829P00580000  Aug 13, 2025        -2      2  1305.76
2     NFLX250829P01135000  Aug 13, 2025        -1      3   347.88
3     NFLX250829P01135000  Aug 13, 2025        -1      4   346.88
4     GOOG260116C00180000  Aug 13, 2025        -1      5  3264.88
...                   ...           ...       ...    ...      ...
2023  MSFT260116C00500000  May 16, 2025         2   2024 -3944.94
2024  META250815C00640000  May 16, 2025         2   2025 -8630.94
2025   QQQ250521P00522000  May 16, 2025         4   2026 -1969.86
2026  MSFT250815C00450000  May 15, 2025         2   2027 -5400.94
2027  MSFT250815C00450000  May 15, 2025         2   2028 -5420.94

[1978 rows x 5 columns]

In [15]:
#Call or Put
Descriptions = [str(k) for k in list(Active.loc[:,'Description'])]
CoP = ["C" if 'Call' in Desc else ("P" if "Put" in Desc else "N/A") for Desc in Descriptions]
Types["C/P"] = CoP
Types["Ticker"] = Symbols
Types;

In [16]:
#Rename the columns to match master spreadsheet columns names
Types = Types.rename(columns={'Date':'Trade Enter', "Quantity":'# of Contracts'})
Types['Exp Date'] = Exp_Date
Types['Strike'] = Strike_prices
Types['Strike'] = Types['Strike'].apply(lambda x: x.replace(",",""))
Types['Amount'] = Types['Amount'].apply(lambda x: float(x))
Types = Types.reindex(columns=['Index','Ticker','Trade Enter', 'Strike','C/P','Exp Date', "# of Contracts",'Trade Exit', "$ Gain",'Amount','Symbol'])
Types

,Index,Ticker,Trade Enter,Strike,C/P,Exp Date,# of Contracts,Trade Exit,$ Gain,Amount,Symbol
0,1,GOOG,"Aug 13, 2025",$180.00,C,"Jan 16, 2026",-1,NaN,NaN,3269.88,GOOG260116C00180000
1,2,QQQ,"Aug 13, 2025",$580.00,P,"Aug 29, 2025",-2,NaN,NaN,1305.76,QQQ250829P00580000
2,3,NFLX,"Aug 13, 2025",$1135.00,P,"Aug 29, 2025",-1,NaN,NaN,347.88,NFLX250829P01135000
3,4,NFLX,"Aug 13, 2025",$1135.00,P,"Aug 29, 2025",-1,NaN,NaN,346.88,NFLX250829P01135000
4,5,GOOG,"Aug 13, 2025",$180.00,C,"Jan 16, 2026",-1,NaN,NaN,3264.88,GOOG260116C00180000
...,...,...,...,...,...,...,...,...,...,...,...
2023,2024,MSFT,"May 16, 2025",$500.00,C,"Jan 16, 2026",2,NaN,NaN,-3944.94,MSFT260116C00500000
2024,2025,META,"May 16, 2025",$640.00,C,"Aug 15, 2025",2,NaN,NaN,-8630.94,META250815C00640000
2025,2026,QQQ,"May 16, 2025",$522.00,P,"May 21, 2025",4,NaN,NaN,-1969.86,QQQ250521P00522000
2026,2027,MSFT,"May 15, 2025",$450.00,C,"Aug 15, 2025",2,NaN,NaN,-5400.94,MSFT250815C00450000
2027,2028,MSFT,"May 15, 2025",$450.00,C,"Aug 15, 2025",2,NaN,NaN,-5420.94,MSFT250815C00450000

In [17]:
Dates

,Index,Ticker,Trade Enter,Strike,C/P,Exp Date,# of Contracts,Trade Exit,$ Gain
1,2,AMZN,"May 16, 2025",$195.00,C,"Jan 16, 2026",1,"Jun 03, 2025",$77.50
2,3,ANF,"May 16, 2025",$70.00,C,"Jan 16, 2026",1,"May 28, 2025","$1,860.00"
3,4,META,"May 16, 2025",$640.00,C,"Aug 15, 2025",1,"May 19, 2025",$650.00
4,5,QQQ,"May 16, 2025",$522.00,P,"May 21, 2025",2,"May 19, 2025",$290.00
5,6,MSFT,"May 16, 2025",$500.00,C,"Jan 16, 2026",1,"Jun 26, 2025","$1,289.00"
...,...,...,...,...,...,...,...,...,...
287,288,META,"Aug 13, 2025",$770.00,P,"Aug 29, 2025",1,"Aug 14, 2025",($145.00)
288,289,IWM,"Aug 13, 2025",$228.00,C,"Oct 17, 2025",3,"Aug 14, 2025",($588.00)
289,290,IWM,"Aug 13, 2025",$231.00,P,"Aug 29, 2025",2,"Aug 14, 2025",$346.00
290,291,QQQ,"Aug 13, 2025",$585.00,P,"Sep 19, 2025",2,"Aug 14, 2025",$0.00
291,292,META,"Jul 31, 2025",$850.00,C,"Jan 16, 2026",1,"Aug 14, 2025",$411.11

In [ ]:
Dates['$ Gain'].iloc[0]

In [18]:
Types['Trade Exit'] = [Types.iloc[k]['Trade Enter'] if Types.iloc[k]['# of Contracts']<0 else 'NaN' for k in range(Types.shape[0])]
Types;

In [19]:
#All unique tickers in the master spreadsheet
All_Tickers = Dates['Ticker'].unique()
len(All_Tickers)
All_Tickers

array(['AMZN', 'ANF', 'META', 'QQQ', 'MSFT', 'TSLA', 'HOOD', 'AMD',
       'SHOP', 'SOFI', 'ARM', 'BA', 'NVDA', 'COIN', 'AAPL', 'CRWV',
       'RIVN', 'SLV', 'BABA', 'GLD', 'COST', 'CVNA', 'PANW', 'SMCI',
       'CRCL', 'PLTR', 'ASTS', 'APP', 'TTD', 'SPY', 'GOOG', 'OKLO', 'UNH',
       'NFLX', 'SE', 'PCOR', 'LLY', 'QBTS', 'AMC', 'MMM', 'JD', 'SG',
       'DKNG', 'TGT', 'RDDT', 'DOCU', 'LUNR', 'GOOGL', 'WMT', 'IOT', 'MU',
       'NTNX', 'SNOW', 'HIMS', 'AVGO', 'FSLR', 'PDD', 'IWM'], dtype=object)

In [20]:
#Master Spreadsheet dictionary (key=ticker, value =Dataframe of all rows with ticker)
Master_Dict = {x: pd.DataFrame(Dates.loc[Dates['Ticker'] == x]) for x in All_Tickers}
Master_Dict;

In [21]:
#All tickers in the Tradier_activities spreadhseet
All_Active_Tickers = Types['Ticker'].unique()
All_Active_Tickers;

In [22]:
#Tradier_Activities Spreadsheet dictionary (key=ticker, value =Dataframe of all rows with ticker)
Tradier_Activities_Dict = {t: pd.DataFrame(Types.loc[Types['Ticker'] == t]) for t in All_Active_Tickers}
Tradier_Activities_Dict;

In [23]:
def trade_comparisons(ticker):
    features = ['Trade Enter','Strike','C/P','Exp Date']
    trade_table = Tradier_Activities_Dict[ticker]
    master_table = Master_Dict[ticker]
    new_dfs = []

    for index, entry in master_table.iterrows():
        features_matches = trade_table.loc[
            (trade_table[features] == entry[features]).all(axis=1)
        ]
        
        if pd.notna(entry['Trade Exit']):
            exit_match = trade_table.loc[
                    (trade_table['Trade Enter'] == entry['Trade Exit']) &
                    (trade_table['Strike'] == entry['Strike']) &
                    (trade_table['C/P'] == entry['C/P']) &
                    (trade_table['Exp Date'] == entry['Exp Date'])
                ]
        else:
            exit_match = pd.DataFrame()
            
        if not features_matches.empty or not exit_match.empty:
            temp_df = pd.concat([features_matches, exit_match], ignore_index=True)
        else:
            temp_df = pd.DataFrame()

        new_dfs.append([entry, temp_df])
        
    return new_dfs

In [24]:
#Comparison algorithm
table = Tradier_Activities_Dict['AMZN']
series = Master_Dict['AMZN'][['Trade Enter','Strike','C/P','Exp Date']].iloc[0]

In [25]:
#Step 1: Find rows with equal columns: 'Trade Enter','Strike','C/P','Exp Date' 
list_of_dfs=[Tradier_Activities_Dict['AMZN'].iloc[k] for k in range(Tradier_Activities_Dict['AMZN'].shape[0]) if series.equals(Tradier_Activities_Dict['AMZN'][['Trade Enter','Strike','C/P','Exp Date']].iloc[k])]

list_of_dfs[0].to_frame().T;

In [26]:
Tradier_Activities_Dict['AMZN'];

In [27]:
#Step 2: Find rows with trade exit trade entrance date
# series2 = Master_Dict['AMZN'].iloc[0]['Trade Exit']
# list_of_dfs2=[Tradier_Activities_Dict['AMZN'].iloc[k] for k in range(Tradier_Activities_Dict['AMZN'].shape[0]) if series2 == Tradier_Activities_Dict['AMZN'].iloc[k]['Trade Enter']]
# list_of_dfs2

In [28]:
df1 = Tradier_Activities_Dict['AMZN']

In [29]:
df2=Master_Dict['AMZN']

In [30]:
# pd.concat([Tradier_Activities_Dict['AMZN'], Master_Dict['AMZN']]);

In [31]:
#sheet = workbook['AMZN']
def add_toExcel(ticker,df1,df2,new_dfs,ws):
    current_row = 0
    for row in dataframe_to_rows(df1,index=False):
        ws.append(row)
        current_row+=1

    # ws.insert_rows(len(df1)+4, amount=2)
    # Add two blank rows
    for _ in range(2):
        ws.append([""] * df1.shape[1])  # Add a blank row with the same number of columns
        current_row += 1
    
    for row in dataframe_to_rows(df2,index=False):
        ws.append(row)
        current_row+=1
        
    Gain_Sum = 0
    for num in df2['$ Gain']:
        if(num[0] == '('):
            Gain_Sum+=float(num[2:-1].replace(",",""))*-1
        else:
            Gain_Sum+=float(num[1:].replace(",",""))
    ws["I"+str(current_row+1)] = Gain_Sum
    ws["I"+str(current_row+1)].fill = yellow_fill
    current_row+=1
    # gain_row = current_row
    
    # Add two blank rows
    for _ in range(2):
        ws.append([""] * df1.shape[1])  # Add a blank row with the same number of columns
        current_row += 1
    
    total_sum=0
    for frame in new_dfs:
        for r in dataframe_to_rows(frame[0].to_frame().T, index=False):
            ws.append(r)
            current_row+=1

        ws.append([""] * df1.shape[1])
        current_row+=2
        #frame[1]['Amount/# of Contracts'] = None
        for f in dataframe_to_rows(frame[1], index=False):
            ws.append(f)
            current_row+=1
        ws.append([""] * frame[1].shape[1])
        current_row+=1
        if not frame[1].empty:
            contracts = 0
            #Contracts Sum
            if '# of Contracts' in frame[1].columns:
                for i in range(len(frame[1])):
                    if(frame[1].iloc[i]['# of Contracts'] > 0):
                        contracts+= frame[1].iloc[i]['# of Contracts']
                # ws["G"+str(current_row)] = frame[1]['# of Contracts'].sum()
                if len(frame[1]) > 0 and current_row - len(frame[1])-1 <= current_row - 1:
                    ws["G"+str(current_row)].value = f'=SUM(G{current_row-len(frame[1])-1}:G{current_row-1})'
                    ws["G"+str(current_row)].fill = yellow_fill
                else:
                    ws["G"+str(current_row)].fill = yellow_fill
            # rule = FormulaRule(
            #     formula=[f'SUM(G{current_row-len(frame[1])}:G{current_row-1}) == 0'],
            #     border = thick_border
            # )
            # ws.conditional_formatting.add("G"+str(current_row), rule)
                
            #Amount Sum
            if 'Amount' in frame[1].columns:
                # ws["J"+str(current_row)] = locale.currency(float(frame[1]['Amount'].sum()))
                if len(frame[1]) > 0 and current_row - len(frame[1])-1 <= current_row - 1:
                    ws["J"+str(current_row)].value = f'=SUM(J{current_row-len(frame[1])-1}:J{current_row-1})'
                    ws["J"+str(current_row)].fill = yellow_fill
                else:
                    ws["J"+str(current_row)].fill = yellow_fill
            
            # workbook = load_workbook('TradingMasterData.xlsx', data_only=True)
            # ws = workbook[ticker]
            #frame[1]['# of Contracts'].sum()
            
            # if(ws[f'G{current_row}'].value == 0):
            #     try:
                    # ws.cell(row=current_row-len(frame[1]), column=frame[1].shape[1]+1).value = locale.currency(float(frame[1]['Amount'].sum())/contracts)
            ws.cell(row=current_row-len(frame[1])-2, column=frame[1].shape[1]+1).fill = green_fill
                    # ws[f"L{current_row-len(frame[1])}"] = f"=IF(B1=0, \"Error\", J{current_row}/{contracts})"
            ws[f"L{current_row-len(frame[1])-2}"].value = f"=IF({"G"+str(current_row)}=0, SUM(J{current_row-len(frame[1])-1}:J{current_row-1})/{contracts}, "")"

                    #total_sum+=float(frame[1]['Amount'].sum())/contracts
                # except ZeroDivisionError:
                #     print("Division by zero")
            # else:
                # ws.cell(row=current_row-len(frame[1]), column=frame[1].shape[1]+1).fill = red_fill
                
            
                
        for _ in range(3):
            ws.append([""] * df1.shape[1])  # Add a blank row with the same number of columns
            current_row += 1
        
    ws.cell(row=ws.max_row, column=ws.max_column-1).value = "Total:"
    # ws.cell(row=ws.max_row, column=ws.max_column).value = locale.currency(total_sum)
    ws.cell(row=ws.max_row, column=ws.max_column).fill = green_fill
    ws[f"L{ws.max_row}"] = f'=SUM(L1:L{ws.max_row-1})'
    
    return [Gain_Sum, f"L{ws.max_row}"]

In [32]:
ticker_gain_profit = []

In [33]:
filename = 'TradingMasterData.xlsx'

#Loads the excel file temporarily in the memory
#workbook represents the entire excel sheet
workbook = Workbook()
ws = workbook.active
ws.title = 'Ticker Info'
# if "AMZN" in workbook.sheetnames:  # If sheet exists, delete it
#     del workbook['AMZN']
for ticker in All_Tickers:
    if(ticker in All_Active_Tickers):
        workbook.create_sheet(title=ticker)
        ws = workbook[ticker]
        Master_Gain, Trader_Gain_loc = add_toExcel(ticker,Tradier_Activities_Dict[ticker], Master_Dict[ticker], trade_comparisons(ticker), ws)
        #print(Trader_Gain_loc)
        ticker_gain_profit.append([ticker, Master_Gain, Trader_Gain_loc])
    else:
        print(f"{ticker} not found in active trade info")
ws=workbook['Ticker Info']
# df_ticker_gain_profit = pd.DataFrame(ticker_gain_profit,columns=['Ticker','Master Gain', 'Trader Gain','Master Result', 'Trader Result'])
# header = dataframe_to_rows(df_ticker_gain_profit, index=False)[0]
ws.append(['Ticker','Master Gain', 'Trader Gain','Master Result', 'Trader Result'])
for t in range(0,len(ticker_gain_profit)):
    ws[f'A{t+2}'].value = f'{ticker_gain_profit[t][0]}'
    ws[f'B{t+2}'].value = ticker_gain_profit[t][1]
    ws[f'C{t+2}'].value = f"={utils.quote_sheetname(ticker_gain_profit[t][0])}!{ticker_gain_profit[t][2]}"
    ws.cell(row=t+2, column=4).value = f"=IFS(B{t+2}<0, \"Loss\", B{t+2}>0,\"Gain\",B{t+2}=0,\"\")"
    ws.cell(row=t+2, column=5).value = f"=IFS(C{t+2}<0, \"Loss\", C{t+2}>0, \"Gain\",C{t+2}=0, \"\")"
    
#Normalize "Master Gain" and "Trader Gain" columns
# for i in range(len(df_ticker_gain_profit['Master Gain'])):
#     df_ticker_gain_profit['Master Gain'].iloc[i] = float(df_ticker_gain_profit['Master Gain'].iloc[i].replace("$",""))
#     df_ticker_gain_profit['Trader Gain'].iloc[i] = float(df_ticker_gain_profit['Trader Gain'].iloc[i].replace("$",""))
    

# ws.cell(row=ws.max_row+1, column=2).value = locale.currency(df_ticker_gain_profit['Master Gain'].sum())
# ws.cell(row=ws.max_row, column=3).value = locale.currency(df_ticker_gain_profit['Trader Gain'].sum())
ws.cell(row=ws.max_row+1, column=2).fill = green_fill
ws.cell(row=ws.max_row, column=3).fill = green_fill
ws.cell(row=ws.max_row, column=4).fill = green_fill
ws.cell(row=ws.max_row, column=5).fill = green_fill

ws[f"B{ws.max_row}"].value = f'=SUM(B{ws.max_row-len(ticker_gain_profit)}:B{ws.max_row-1})'
ws[f"C{ws.max_row}"].value = f'=SUM(C{ws.max_row-len(ticker_gain_profit)}:C{ws.max_row-1})'
ws[f"D{ws.max_row}"].value = f"=COUNTIF(D2:D{ws.max_row-1}, \"Gain\")/{len(All_Tickers)}"
ws[f"E{ws.max_row}"].value = f"=COUNTIF(E2:E{ws.max_row-1}, \"Gain\")/{len(All_Tickers)}"

workbook.save(filename)

PCOR not found in active trade info